
.bio-group {
    margin-top: 20px;
}

.bio-group-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.bio-group-item a {
    color: #666666;
    text-decoration: none;
}